* {
    margin: 0;
}

html {
    height: 100%;
}
body {
    min-height: 100%;
    background-image: url("../images/body-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

#calculatrice { 
    text-shadow: 0px 0px 2px black;
    width: 250px;
    padding: 25px 50px;
    background-color: white;
    border: solid black 1px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#display {
    padding: 5px;
    background-color: grey;
    color: white;
    width: 250px;
    text-align: right;
    border: 5px solid lightgrey;
}

.row { 
    width: 270px;
    display: flex;
    justify-content: space-between;
}

button {
    width: 75px;
    height: 40px;
    margin: 10px 0 0 0;
}

button:hover {
    background-color: lightgrey;
    cursor: pointer;
}